/* * {
    box-sizing: border-box;
    background-color: black;
    color: white
}

main {
    background-color: black;
    color: white;
}

input {
    color: white;
}

textconten {
    color: white;
} */